<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/clientes/listadoCliente}">Clientes</a>
      </li>
     <!-- li class="nav-item" >
        <a class="nav-link" th:href="@{/grupos/list}">Grupos</a>
      </li>-->
        <li class="nav-item">
        <a class="nav-link" th:href="@{/logout}">Cerrar Session</a>
      </li>
    </ul>  
   <!--
   <a class="btn btn-primary" href="#">Ingresar</a>&nbsp;
    <a class="btn btn-primary" th:href="@{/signup}">Registrarse</a>&nbsp;
    <a class="btn btn-primary" th:href="@{/logout}">Salir</a>&nbsp;
     -->
    
  </div>
</body>
</html>